@keyframes socialAnimation {
	from {
		filter: none;
	}
	to {
		filter: brightness(0) saturate(100%) invert(80%) sepia(26%) saturate(1050%) hue-rotate(96deg) brightness(94%)
			contrast(86%);
	}
}

@keyframes labelAnimation {
	from {
		bottom: 70%;
		opacity: 0.5;
		color: $white;
	}
	to {
		bottom: 0;
		transform: translateY(50%);
		opacity: 1;
	}
}

@keyframes shake {
	0% {
		right: 5px;
		box-shadow: 0;
	}
	10% {
		right: 10px;
		box-shadow: 0 0 2px 1px $error-color;
	}
	30% {
		right: 5px;
	}
	40% {
		right: 10px;
		box-shadow: 0 0 2px 2px $error-color;
	}
	60% {
		right: 5px;
		box-shadow: 0 0 2px 2px $error-color;
	}
	70% {
		right: 10px;
	}
	80% {
		right: 5px;
		box-shadow: 0 0 2px 1px $error-color;
	}
	100% {
		right: 0px;
		box-shadow: none;
	}
}

@keyframes borderAnimation {
	0% {
		left: 0;
		width: 10%;
	}
	50% {
		width: 15%;
	}
	100% {
		left: 90%;
	}
}
