@media (min-width: 992px) {
	.back-btn {
		bottom: 2em;
	}

	.nav {
		padding: 2.5em 2em;
	}

	.header {
		padding: 0 2em 10.4rem;

		.wrapper {
			align-items: center;
		}

		&__hero {
			height: 100vh;
			max-height: 720px;

			&-rings {
				top: 8.5em;
				left: -1200px;
			}

			&-circle {
				bottom: 10%;
				transform: translateX(-300%);
			}

			&-profile {
				width: auto;
				max-width: 445px;
				content: url('../img/profile-picture-large.png');
			}
		}

		&__info {
			max-width: 600px;

			&-title {
				font-size: 8rem;
				span {
					&::after,
					&:before {
						bottom: 4px;
						height: 6px;
					}
				}
			}

			&-text {
				margin: 2.4em 0 3.7em;
			}
		}
	}

	.skills {
		padding: 0 2em 8.8em;
		background-position: 80vw 75%;

		&__hero {
			transform: translate(78%, 50%);
		}

		&__boxes {
			padding-top: 4.5em;
		}

		&__box {
			width: 30.5%;
		}
	}

	.projects {
		padding-bottom: 8.8em;
		&__heading {
			margin-bottom: 5em;

			&-title {
				font-size: 8.8rem;
				letter-spacing: -2.5px;
			}
		}

		&__boxes {
			grid-template-columns: 1fr 1fr;
			row-gap: 7.5rem;
		}

		&__box {
			position: relative;
			max-height: 487px;

			&-img {
				max-height: 400px;
				overflow: hidden;

				&:hover &-links {
					height: 100%;
				}

				&:hover &-link {
					opacity: 1;
				}

				img {
					height: 100%;
				}

				&-links {
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					width: 100%;
					height: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 3em;
					background-color: rgba(0, 0, 0, 0.75);
					transition: height 0.5s;
				}

				&-link {
					@include linkStyles(1.6rem);
					transition: opacity 0.3s;
					opacity: 0;
				}
			}

			&-built-with {
				margin-bottom: 0;
			}

			&-links {
				display: none;
			}
		}
	}

	.footer {
		padding: 5.2em 2em 5.8em;

		&__contact {
			padding-bottom: 5.8em;

			.wrapper {
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
			}

			&-hero {
				transform: translate(-70%, 50%);
			}

			&-info {
				text-align: left;
				margin-bottom: 0;

				&-title {
					font-size: 8.8rem;
					margin-bottom: 3.6rem;
				}
			}
		}

		&__socials {
			padding-top: 3em;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__box-link {
			&:last-child {
				margin-right: 2em;
			}
		}
	}

	.header {
		&__hero {
			&-rings {
				left: -1370px;
			}

			&-circle {
				transform: translateX(-320%);
			}

			&-profile {
				right: 0;
			}
		}

		&__info {
			margin-top: 4em;
			max-width: 706px;

			&-title {
				font-size: 8.8rem;
				letter-spacing: -2.5px;
			}
		}
	}
}
