@media (min-width: 768px) {
	.paragraph-styles {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}

	.back-btn {
		right: 2em;
	}

	.nav {
		padding: 2em;
	}

	.header {
		padding: 0 2em 6rem;
		min-height: 600px;

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		&__hero {
			min-height: 600px;
			order: 2;
			margin: 0;

			&-rings {
				top: 6em;
				left: -1000px;
			}

			&-circle {
				right: -2em;
			}

			&-profile {
				position: absolute;
				top: 0;
				right: -2em;
				margin: 0;
				height: 100%;
				width: 322px;
				content: url('../img/profile-picture-tablet.png');
				z-index: -1;
			}
		}

		&__info {
			align-items: flex-start;
			padding: 0;
			text-align: left;
			max-width: 52rem;

			&-title {
				font-size: 7.2rem;
				letter-spacing: -2.05px;
			}

			&-text {
				margin: 3.7em 0 1.9em;
				max-width: 44.5rem;
			}
		}
	}

	.skills {
		padding: 0 2em 6.3em;
		background-position: 72vw 91%;

		&__hero {
			transform: translate(70%, 50%);
		}

		.line--bottom {
			display: none;
		}

		&__boxes {
			justify-content: space-between;
		}

		&__box {
			text-align: left;

			&-name {
				font-size: 4.8rem;
			}

			&-desc {
				margin-top: 1.4rem;
				font-size: 1.8rem;
			}
		}
	}

	.projects {
		padding: 0 2em 6.2em;

		&__heading {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2.5em;

			&-title {
				color: $white;
				font-size: 7.2rem;
				letter-spacing: -2px;
			}
		}

		&__boxes {
			grid-template-columns: 1fr 1fr;
			column-gap: 3rem;
			row-gap: 7.2rem;
		}
	}

	.footer {
		padding: 3.7em 2em 4em;

		&__contact {
			.wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&-hero {
				transform: translate(-77%, 60%);
			}

			&-info {
				margin-bottom: 3em;
				max-width: 445px;

				&-title {
					font-size: 7.2rem;
				}
			}

			&-form {
				width: 445px;
			}
		}

		&__socials {
			padding-top: 1.9em;

			.wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			&-heading {
				font-size: 3.2rem;
			}

			&-box {
				margin-top: 0;
				gap: 2em;

				&-link {
					img {
						width: 24px;
					}
				}
			}
		}
	}
}
