@use './colors' as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.6rem;
	background-color: $black;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1100px;
	width: 100%;
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 1.3em 0 2em;
	background-color: transparent;
	z-index: 10;

	.wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__heading {
		color: $white;
		font-size: 2.4rem;
		line-height: 32px;
		font-weight: 700;
	}

	&__box {
		display: flex;
		margin-top: 1.3em;
		gap: 1.6em;

		&-link {
			display: flex;
			align-items: center;
			text-decoration: none;
			transition: filter 0.5s;

			&:hover {
				//filter from filter generator: https://angel-rs.github.io/css-color-filter-generator/
				filter: brightness(0) saturate(100%) invert(80%) sepia(26%) saturate(1050%) hue-rotate(96deg) brightness(94%)
					contrast(86%);
			}

			img {
				width: 20px;
			}
		}
	}
}

.header {
	position: relative;
	overflow: hidden;

	&__hero {
		position: relative;
		display: flex;
		justify-content: center;
		margin-bottom: 2.5em;

		&-rings {
			position: absolute;
			top: 8em;
			left: -360px;
			width: 530px;
			height: 129px;
			transition: left 0.3s;
			z-index: -1;
			background-image: url('../img/icons/pattern-rings.svg');
			background-repeat: no-repeat;
		}

		&-circle {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 129px;
			height: 129px;
			transform: translateX(50%);
			background-image: url('../img/icons/pattern-circle.svg');
			background-repeat: no-repeat;
		}

		&-profile {
			width: 174px;
		}
	}

	&__info {
		padding: 0 1em 8rem;
		text-align: center;

		&-title {
			color: $white;
			font-size: 4rem;
			line-height: 1em;
			letter-spacing: -1px;

			span {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					bottom: 2px;
					left: 0;
					right: 0;
					height: 4px;
					background-color: $green;
				}
			}
		}

		&-text {
			margin: 1.5em 0;
			font-size: 1.6rem;
			color: $light-gray;
			line-height: 2.6rem;
		}

		&-link {
			position: relative;
			padding-bottom: 1em;
			font-size: 1.6rem;
			color: $white;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 2.3px;
			background-color: $black;
			cursor: pointer;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				background-color: $green;
			}

			&::before {
				content: attr(data-text);
				position: absolute;
				bottom: 0px;
				left: 0;
				width: 100%;
				height: 0;
				color: $green;
				transition: height 0.3s;
				overflow: hidden;
			}

			&:hover::before {
				height: 100%;
			}
		}
	}
}

.skills {
	padding: 0 1em 5em;
	overflow: hidden;
	background-image: url('../img/icons/pattern-rings.svg');
	background-repeat: no-repeat;
	background-position: 50vw 97%;

	&__line {
		width: 100%;
		height: 1px;
		background-color: $white;

		&--top {
			margin: 0 0 4rem;
		}

		&--bottom {
			margin: 4rem 0 0;
		}
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5em;
	}

	&__box {
		text-align: center;

		&-name {
			color: $white;
			font-size: 3.2rem;
		}

		&-desc {
			margin-top: 0.5rem;
			color: $light-gray;
		}
	}
}

@media (min-width: 375px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
	.nav {
		padding: 1.8em 2em;

		.wrapper {
			flex-direction: row;
			justify-content: space-between;
		}

		&__heading {
			font-size: 3.2rem;
		}

		&__box {
			margin-top: 0;
			gap: 2em;

			&-link {
				img {
					width: 24px;
				}
			}
		}
	}

	.header {
		padding: 0 2em 6rem;
		min-height: 600px;

		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		&__hero {
			min-height: 600px;
			order: 2;
			margin: 0;

			&-rings {
				top: 6em;
				left: -1000px;
			}

			&-circle {
				right: -2em;
			}

			&-profile {
				position: absolute;
				top: 0;
				right: -2em;
				height: 100%;
				width: 322px;
				content: url('../img/image-profile-tablet.webp');
				z-index: -1;
			}
		}

		&__info {
			margin-bottom: 1.2em;
			padding: 0;
			text-align: left;
			max-width: 44.5rem;

			&-title {
				font-size: 7.2rem;
				letter-spacing: -2.05px;
			}

			&-text {
				margin: 3.7em 0 1.9em;
				max-width: 44.5rem;
				font-size: 1.8rem;
				line-height: 2.8rem;
			}
		}
	}

	.skills {
		padding: 0 2em 6.3em;
		background-position: 72vw 95%;

		&__line {
			width: 100%;
			height: 1px;
			background-color: $white;

			&--top {
				margin: 0 0 5.2rem;
			}

			&--bottom {
				display: none;
			}
		}

		&__boxes {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			column-gap: 0;
			row-gap: 3.2em;
		}

		&__box {
			text-align: left;
			width: 50%;

			&-name {
				font-size: 4.8rem;
			}

			&-desc {
				margin-top: 1.4rem;
				font-size: 1.8rem;
			}
		}
	}
}
@media (min-width: 992px) {
	.nav {
		padding: 2.5em 2em;
	}

	.header {
		padding: 0 2em 10.4rem;

		.wrapper {
			align-items: center;
		}

		&__hero {
			height: 100vh;
			max-height: 720px;

			&-rings {
				top: 8.5em;
				left: -1200px;
			}

			&-circle {
				bottom: 10%;
				transform: translateX(-320%);
			}

			&-profile {
				width: auto;
				max-width: 445px;
				content: url('../img/image-profile-desktop.webp');
			}
		}

		&__info {
			margin-bottom: 0em;
			max-width: 600px;

			&-title {
				span {
					&::after {
						bottom: 4px;
						height: 6px;
					}
				}
			}

			&-text {
				margin: 2.4em 0 3.7em;
			}
		}
	}

	.skills {
		padding: 0 2em 8.8em;
		background-position: 80vw 80%;
		&__line {
			margin-bottom: 4.5em;
		}
		&__box {
			width: 31%;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__box-link {
			&:last-child {
				padding-right: 2em;
			}
		}
	}

	.header {
		&__hero {
			&-rings {
				left: -1365px;
			}

			&-profile {
				right: 0;
			}
		}

		&__info {
			margin-top: 4em;
			max-width: 706px;

			&-title {
				font-size: 8.8rem;
				letter-spacing: -2.5px;
			}
		}
	}
}
