@use './colors' as *;
@use './mixins' as *;
@import './components';
@import './animations';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 1.6rem;
	background-color: $black;
	scrollbar-width: thin;
	scrollbar-color: #3ee1a0 #333333;

	&::-webkit-scrollbar {
		width: 15px;
	}

	&::-webkit-scrollbar-track {
		background-color: #333333;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #3ee1a0;
		border-radius: 1em;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #34b481;
	}
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 1.3em 1em 2em;
	background-color: transparent;
	z-index: 10;

	.wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__heading {
		color: $white;
		font-size: 2.4rem;
		line-height: 32px;
		font-weight: 700;
		text-decoration: none;
	}

	&__box {
		@include socialIconsStyles;
	}
}

.header {
	position: relative;
	overflow: hidden;

	&__hero {
		position: relative;
		display: flex;
		justify-content: center;
		margin-bottom: 2.5em;

		&-rings {
			position: absolute;
			top: 8em;
			left: -360px;
			width: 530px;
			height: 129px;
			transition: left 0.3s;
			z-index: -1;
			background-image: url('../img/icons/pattern-rings.svg');
			background-repeat: no-repeat;
		}

		&-circle {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 129px;
			height: 129px;
			transform: translateX(50%);
			background-image: url('../img/icons/pattern-circle.svg');
			background-repeat: no-repeat;
		}

		&-profile {
			width: 174px;
		}
	}

	&__info {
		padding: 0 1em 8rem;
		text-align: center;

		&-title {
			color: $white;
			font-size: 4rem;
			line-height: 1em;
			letter-spacing: -1px;

			span {
				position: relative;
				display: inline-block;

				&::after {
					content: '';
					position: absolute;
					bottom: 2px;
					left: 0;
					right: 0;
					height: 4px;
					background-color: $green;
					z-index: 2;
				}

				&::before {
					content: '';
					position: absolute;
					bottom: 2px;
					left: 0;
					width: 10%;
					height: 4px;
					background-color: #ffffff;
					opacity: 0.8;
					animation: borderAnimation 1s infinite alternate;
					z-index: 3;
				}
			}
		}

		&-text {
			margin: 1.5em 0;
		}

		&-link {
			@include linkStyles(1.3rem);
		}
	}
}

.skills {
	padding: 0 1em 5em;
	overflow: hidden;

	&__hero {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(68%, 50%);
		width: 530px;
		height: 129px;
		background-image: url('../img/icons/pattern-rings.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5em;
		padding: 4rem 0;
	}

	&__box {
		text-align: center;

		&-name {
			color: $white;
			font-size: 3.2rem;
		}

		&-desc {
			margin-top: 0.5rem;
			color: $light-gray;
		}
	}
}

.projects {
	padding: 0 1em 5.8em;

	&__heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2.5em;

		&-title {
			color: $white;
			font-size: 3.2rem;
			letter-spacing: -1px;
			line-height: 1em;
		}

		&-link {
			@include linkStyles(1.3rem);
		}
	}

	&__boxes {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 5.2rem;
		place-items: center;
		align-items: start;
		overflow: hidden;
	}

	&__box {
		position: relative;
		min-height: 398px;

		&-img {
			position: relative;
			margin-bottom: 1.3em;
			border-radius: 8px;
			overflow: hidden;
			transition: transform 0.3s, border-radius 0.3s;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				background-color: rgba(0, 0, 0, 0.1);
			}

			&:hover {
				transform: scale(1.02);
				border-radius: 0;
			}

			img {
				display: block;
				width: 100%;
				max-width: 540px;
			}

			&-links {
				display: none;
			}
		}

		&-title {
			font-size: 2.4rem;
			color: $white;
			text-transform: uppercase;
		}

		&-built-with {
			margin: 0.4em 0 1.2em;
			font-size: 1.8rem;
			color: $light-gray;
			text-transform: uppercase;
			word-spacing: 1em;
		}

		&-link {
			@include linkStyles(1.3rem);

			&--first {
				margin-right: 2em;
			}
		}
	}
}

.footer {
	position: relative;
	padding: 3.7em 1em;
	background-color: $dark-gray;

	&__contact {
		padding-bottom: 5.8em;

		&-hero {
			position: absolute;
			bottom: 5px;
			left: 0;
			transform: translateX(-70%);
			width: 530px;
			height: 129px;
			background-image: url('../img/icons/pattern-rings.svg');
			background-repeat: no-repeat;
			background-size: contain;
		}

		&-info {
			margin-bottom: 3.1em;
			text-align: center;

			&-title {
				margin-bottom: 2rem;
				color: $white;
				font-size: 4rem;
				line-height: 1em;
			}
		}

		&-form {
			display: grid;
			grid-template-columns: 1fr;
			row-gap: 2em;
			overflow: hidden;

			&-box {
				position: relative;

				&--active,
				&--succes {
					.label {
						animation: labelAnimation 0.5s forwards;
						color: $green;
					}

					.input,
					.textarea {
						border-bottom: 1px solid $green;
					}

					.error-info,
					.error-ico {
						visibility: hidden;
					}
				}

				&--error {
					.error-info {
						transform: translate(0%, 102%);
						visibility: visible;
					}

					.error-ico {
						margin-right: 0.1em;
						transform: translate(0, -50%);
						visibility: visible;
					}

					.error-ico.shake {
						animation: shake 0.5s;
					}

					.label {
						animation: labelAnimation 0.5s forwards;
						color: $error-color;
					}

					.input,
					.textarea {
						border-bottom: 1px solid $error-color;
					}
				}
			}

			label {
				position: absolute;
				left: 1em;
				color: white;
				font-size: 1.6rem;
				line-height: 1.6rem;
				text-transform: uppercase;
				background-color: $dark-gray;
				opacity: 0.5;
				transition: position 0.3s;
			}

			input,
			textarea {
				display: block;
				padding: 0 1em 1.5em;
				font-family: inherit;
				color: $white;
				font-size: 1.6rem;
				background: transparent;
				border: 1px solid transparent;
				border-bottom: 1px solid $white;
				width: 100%;

				&:focus {
					outline: none;
					background-color: transparent;
				}

				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus {
					border-left: 1px solid $dark-gray;
					border-top: 1px solid $dark-gray;
					border-right: 1px solid $dark-gray;
					-webkit-text-fill-color: $white;
					-webkit-box-shadow: 0 0 0px 1000px $dark-gray inset;
				}
			}

			textarea {
				min-width: 100%;
				max-width: 100%;
				min-height: 107px;
				height: 107px;
				resize: vertical;
			}

			button {
				margin-top: 1rem;
				max-width: max-content;
				border: none;
				@include linkStyles(1.3rem);
				justify-self: end;
			}
		}
	}

	&__socials {
		padding-top: 3em;
		text-align: center;

		&-heading {
			font-size: 2.4rem;
			line-height: 32px;

			color: $white;
		}

		&-box {
			@include socialIconsStyles;
		}
	}
}

@import './small';
@import './medium';
@import './large';
